
/*What's Hot Projects*/


.whats-hot .wh-intro{
margin:  25px 0;
}

.whats-hot h4.card-heading{
   margin-bottom: 15px;  
}


projects-grid, project-card {
   display: flex;
   flex-direction: column;
   gap:  80px;
}

project-card {
   gap:  10px;
}


project-card .card-links {
   display: flex;
   justify-content: space-between;
   width:  80%;

}

project-card .third-level-heading {
   font-weight: 500;
   color:  var(--primary);
}


.animated-line span {
   display: inline;
   background-image: linear-gradient( var(--primary), var(--primary) );
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: 0% 2px;
   transition: .4s;
}

.animated-line:hover span {
   background-size: 100% 2px;
}



















/*Projects and Experiments Page*/

.project-card .link-divider {
   font-weight: 700;
   color:  var(--dark);
}


.project-card {
   display:  flex;
   gap:  5px;
   margin-bottom:  20px;
}

.project-content {
   display: flex;
   flex-direction: column;
   gap: 5px;
}



.links {
   display: flex;
   justify-content: space-between;

   width: min(95%, 300px);

}

@media (min-width:  768px) {
      .projects-grid {
         display: grid; 
         grid-template-columns: repeat(2, 1fr );
         gap: 13px 10px;
      }

   /*   .project-content {
         gap: 10px;
         justify-content: space-between;

      }*/

      .project-card {
         border:  1px solid var(--primary);
         padding:  15px 10px;
      }

      .projects-grid {
         display: grid; 
         grid-template-columns: repeat(2, 1fr );
      }

      .project-content {
       display: grid;
       grid-template-columns: repeat(12, 1fr);
       grid-row: repeat(auto, 1fr);

       gap:  10px;

      }

      .project-content h3 {
         grid-column: 1 / span 12;
      }

      .project-content p.body-copy {
         grid-row: 2;
         grid-column: 1 / span 12;

         margin-top: 0 !important;
      }

      .project-content .links {
         grid-row: 3;
         grid-column: 1 / span 11;
         align-self: flex-end;
      }

      .bullet {
         padding-top: 5px;
      }


   

   }

   @media (min-width:  1024px) {

      .project-content .links {
         grid-row: 3;
         grid-column: 1 / span 9;
         align-self: flex-end;
      }

       .project-content .links a:nth-of-type(2){
         /*grid-column: 8;*/
      }

   }

   @media (min-width:  1150px) {

      .project-content .links {
         grid-column: 1 / span 8;
      
      }



   }

      @media (min-width:  1250px) {

      .project-content .links {
         grid-column: 1 / span 7;
      
      }



   }





