
.article-grid {
   display: flex;
   flex-direction: column;

   gap:  10px;
   margin:  20px 0;

   }



.article-card .article-content {
   display:  flex;
   flex-direction: column;
   gap:  5px;
}


.article-card .article-content  a:nth-of-type(2) {
   align-self: start;
}

.writing .container .second-level-heading {
   margin:  10px 0;
   border-bottom:  1px dotted var(--dark);
   padding:  5px 0;
}


.blog {
   margin-top: 25px;
}

.article-card .quiet-voice {
   color:  var(--primary);
}

.article-card a:nth-of-type(1) h3.sml-second-level-heading:hover {
   box-shadow:  inset 0 -.1em 0 var(--primary);
   display: inline-block;
  
}

.heading-3 {
   border-bottom: 1px dotted var(--dark);
   margin:  10px 0 15px;
}

@media (min-width: 768px) {
   .latest-blog .article-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      justify-items: start;

   }

   .latest-blog .article-card .article-content {
      justify-content: space-between;
      gap:  10px;

   }





}